
Мой проект/1/cn/~$Замеры_VDO.xlsx
Часть 1 Анализ данных/numpy и pandas/~$адание.docx
Часть 2 Импорт и парсинг данных/2.3 Веб-скрепинг/~$дание1.docx
Мой проект/1/~$1 Задание_мой проект .docx
Часть 2 Импорт и парсинг данных/2.3 Веб-скрепинг/~$дание1.docx
Часть 2 Импорт и парсинг данных/2.3 Веб-скрепинг/~WRL3195.tmp
~$Книга1.xlsx
Мой проект/1/~$2.1 Задание макс знач.docx
Мой проект/1/~WRL3178.tmp
